body, html{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: Black;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding: 2vmin 60vmin 2vmin 60vmin;
  font-family: 'termina', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vmin;
  border: 1px solid Black;
}

.scrollText{
  border: 1px solid Black;
  padding-top: 2.5vmin;
  margin: 0px;
}

.scrollText img {
  width: 100%;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
  }

        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }

        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }

        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }

h3{
  font-family: 'termina', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5vmin;
}

p{
  font-family: 'minion-pro', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vmin;
  line-height: 4.5vmin;
  text-align: justify;
}

.addictionIntro{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.introContent{
  border: 1px solid Black;
  padding: 1vmin 5vmin 1.5vmin 3.5vmin;
}

.socialMediaGraphs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.graphContent{
  border: 1px solid Black;
  text-align: center;
}

.graphContent p{
  text-align: center;
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75vmin;
}

.graphContent h3{
  font-size: 3vmin;
  padding: 0px 2vmin 0px 2vmin;
}

#resources{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contentItem{
  border: 1px solid Black;
  text-align: center;
}

.contentItem p{
  font-size: 2.5vmin;
  line-height: 4vmin;
  text-align: center;
  padding: 0px 1.5vmin 0px 1.5vmin;
}

.contentItem h3{
  font-size: 3vmin;
}

.socialMediaFact{
  overflow: hidden;
  background-color: Black;
}

.socialMediaFact p{
  font-family: 'roc-grotesk', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-size: 13vmin;
  line-height: 17vmin;
  text-align: left;
  padding: 5vmin 2vmin 5vmin 4vmin;
}
.blueText{
  color: #1DA1F2;
}

.contact{
  background-color: black;
  color: white;
  overflow: hidden;
  text-align: center;
  padding: 7vmin 0px 13vmin 0px;
}

.contact h3{
  font-family: 'roc-grotesk', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 7vmin;
}

.contact p{
  font-family: 'termina', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vmin;
  text-align: center;
}

.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footerNav,.quote{
  border: 1px solid Black;
  text-align: center;
  padding: 3vmin 0px 3vmin 0px;
}

.email{
  border: 1px solid Black;
  text-align: center;
  padding-top: 10vmin;
}

.email h3{
  font-size: 2.5vmin;
}

.footerNav p{
  font-family: 'termina', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 2vmin;
  padding-top: 3.4vmin;
  line-height: 2vmin;
}

.quote p{
  font-family: 'termina', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1DA1F2;
  line-height: 2vmin;
  text-align: center;
  font-size: 5vmin;
}

.quote p:nth-of-type(3){
  letter-spacing: 2px;
}

.quote p:nth-of-type(4){
  letter-spacing: 11px;
}

#email-button{
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  width: 8.5vmin;
}

input[type=text] {
  border: 1px solid black;
  width: 50%;
}

input, button{
  font-family: 'termina', sans-serif;;
  font-size: 2vmin;

}



.question{
  border: 1px solid black;
}

.question button{
  background-color: white;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 6vmin;
}

#questionRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 2vmin 0px 2.5vmin;
}

#answer{
  display: none;
}

#answer p{
  font-size: 2.5vmin;
  padding: 0px 3vmin 0px 3.5vmin;
}
